*{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
body{
    background: #111827;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

h1{
    background: #6943FF;
    position: absolute;
    margin-left: 15px;
    width: 448.4px;
    height: 38px;
    left: 51px;
    top: 33px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.input-container{
    width: 550px;
    height: 285px;
    background: #6943FF;
}

button{
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    width: 117px;
    height: 42px;
    left: 217px;
    top: 209px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-weight: 500;
}

button:hover{
    background-color: transparent;
    transition: 0.15s ease-in-out;
}

input{
    caret-color: transparent;
    padding-left: 24px;
    font-weight: 800;
    color: white;
    font-size: 50px;
    background-color: #6943FF;
    box-sizing: border-box;
    position: absolute;
    width: 117px;
    height: 83px;
    left: 217px;
    top: 101px;
    border: 2px solid #B295FF;
    border-radius: 5px;
}

.output-container{
    width: 550px;
    height: 444px;
    background: #1F2937;
    display: flex;
    flex-direction: column;
}

.output{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #CCC1FF;
    width: 500px;
    height: 108.57px;
    background: #273549;
    margin-top: 24px;
    margin-left: 25px;
}

.output p{
    font-weight: 400;
    color: white;
}